/* Everything within the main page should have centered text alignment */
.main-page * {
    text-align: center
}

/* All li elements within the main page should have a margin-bottom of 10px */
.main-page li {
    margin-bottom: 20px;
}

/* All ul elements within the main page should have no padding, and no bullets */
.main-page ul {
    list-style-type: none;
    padding: 0;
}

/* All images within the main page should have a width of 150px, an automatic height, and a margin-bottom of 10px */
.main-page img {
    display: block;
    height: auto;
    margin: 0 auto;
    width: 150px;
}

/* All pages have a pale light pink background */
body {
    background-color: #f9eae5;
}

/* List items within recipe pages have a crazy font */
.recipe-body li {
    /* font-family: 'Comic Sans MS', cursive, sans-serif; */

    /* Their foreground color is orange */
    color: #8a2323;

    /* font-family: "Lucida Console", "Courier New", monospace; */
    font-family: "Courier New", monospace;

    /* They have an ultra-bold font weight */
    font-weight: 900;

    /* They are slightly tilted */
    transform: rotate(-1deg);
}
